@font-face
  font-family: 'roboto-light'
  src: url('roboto-light.woff') format('woff')
  font-weight: normal
  font-style: normal

body
  font-family: roboto-light

.navbar
  background-color: #fff
  .navbar-brand
    .logo
      width: 67px
      svg
        width: 67px

.content
  color: #555151
  margin-top: 0
  h1
    font-size: 1.8rem
    font-weight: inherit
  .read
    h2
      font-size: 1.6rem
      color: #606060
  a
    color: #b50290
    &hover
      color: #ff64e0
  .grid
    .column
      &.a-propos
        background: #bb9b96
      &.personne
        background: #efbc00
      &.lieu
        background: #bd03af
      &.evenement
        background: #127d1b
      &.livre
        background: #30849b
      &.tableau
        background: #aa6b8d
      &.article
        background: #4d4348
      &.-index
        background: #a8451f
      figure
        .image
          height: 12rem
        figcaption
          background: inherit
          font-size: 1.4rem

.wikipedia
  background: #f9f9f9
  padding: 1rem
  border: 1px solid #eee

.button.is-primary
  background-color: #c4c4c4 

.tag:not(body).is-primary
  background-color: #404066

.tag:not(body).is-link
  background-color: #404066
  
@media screen and (max-width: 769px)
  main.content.boka.accueil
    padding: 0
    .grid .column figure 
      figcaption
        font-size: 1.1rem
      .image
        height: 9rem

@media screen and (min-width: 768px)

  .navbar
    .navbar-brand
      .logo
        width: 127px
        svg
          width: 127px


