@font-face {
  font-family: 'roboto-light';
  src: url("roboto-light.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: roboto-light;
}
.navbar {
  background-color: #fff;
}
.navbar .navbar-brand .logo {
  width: 67px;
}
.navbar .navbar-brand .logo svg {
  width: 67px;
}
.content {
  color: #555151;
  margin-top: 0;
}
.content h1 {
  font-size: 1.8rem;
  font-weight: inherit;
}
.content .read h2 {
  font-size: 1.6rem;
  color: #606060;
}
.content a {
  color: #b50290;
}
.content ahover {
  color: #ff64e0;
}
.content .grid .column.a-propos {
  background: #bb9b96;
}
.content .grid .column.personne {
  background: #efbc00;
}
.content .grid .column.lieu {
  background: #bd03af;
}
.content .grid .column.evenement {
  background: #127d1b;
}
.content .grid .column.livre {
  background: #30849b;
}
.content .grid .column.tableau {
  background: #aa6b8d;
}
.content .grid .column.article {
  background: #4d4348;
}
.content .grid .column.-index {
  background: #a8451f;
}
.content .grid .column figure .image {
  height: 12rem;
}
.content .grid .column figure figcaption {
  background: inherit;
  font-size: 1.4rem;
}
.wikipedia {
  background: #f9f9f9;
  padding: 1rem;
  border: 1px solid #eee;
}
.button.is-primary {
  background-color: #c4c4c4;
}
.tag:not(body).is-primary {
  background-color: #404066;
}
.tag:not(body).is-link {
  background-color: #404066;
}
@media screen and (max-width: 769px) {
  main.content.boka.accueil {
    padding: 0;
  }
  main.content.boka.accueil .grid .column figure figcaption {
    font-size: 1.1rem;
  }
  main.content.boka.accueil .grid .column figure .image {
    height: 9rem;
  }
}
@media screen and (min-width: 768px) {
  .navbar .navbar-brand .logo {
    width: 127px;
  }
  .navbar .navbar-brand .logo svg {
    width: 127px;
  }
}
